Welcome to this Ki Tutor aimed at absolute beginners that will teach you the basics of using the editor.\
{# Ki has positional keymaps meaning that keys stay at their position regardless of the keyboard layout,
the tutor will use qwerty but the keys will be at the same position for other layouts.
this page explains the benefits of positional keymaps:
https://ki-editor.org/docs/core-concepts#2-positional-keymaps #}

click {{ _.l }} to go to the next line.

Ki is a modal editor meaning it has multiple modes.\
The editor starts in normal mode by default\
(indicated by 'NORM' in the status bar)\
where you can change selection and execute actions.\
To insert Text you will need to switch to insert mode\
(indicated by 'INST' in the status bar)\
by clicking {{ _.h }} (← Insert) or {{ _[';'] }} (Insert →).\
{{ _.h }} (← Insert) will put the cursor at the beginning of the selection\
and {{ _[';'] }} (Insert →) will put it at the end of the selection.\
Now you can type normally,\
click the escape key (Esc) to switch back to normal mode and click Enter to save.