Click space to open the main editor menu.\
Each square in the help menu represents the position of a key,\
the bottom text in each square represent what the key does when you click it,\
the text in the middle represents what the key does when you hold shift and click it.\
The right side contains shortcuts and actions,\
for example pick Editor ({{ _.j }}) and then Quit ({{ _.v }}).

Space menu reference: https://ki-editor.org/docs/normal-mode/space-menu

You can also click space + {{ _['/'] }} to open the help menu that shows you the main editor keymap.\
Core movements are on the right,\
some quick actions and selection modes are on the left.