A word is a sequence of alphanumeric characters including - and _ separated by other symbols or whitespace.

You can switch to word selection mode by clicking {{ _.s }} in normal mode.

╭────────────────┬─────────────────────────────────────────────────────╮
│   Movements    │                       Action                        │
├────────────────┼─────────────────────────────────────────────────────┤
│ {{ _.u }} (<), {{ _.o }} (>)   │ Previous or next word or symbol                     │
├────────────────┼─────────────────────────────────────────────────────┤
│ {{ _.j }} (<<), {{ _.l }} (>>) │ Previous or next word                               │
├────────────────┼─────────────────────────────────────────────────────┤
│ {{ _.i }} (^), {{ _.k }} (v)   │ Nearest word or symbol in the previous or next line │
├────────────────┼─────────────────────────────────────────────────────┤
│ {{ _.y }} (|<), {{ _.p }} (>|) │ First or last word                                  │
╰────────────────┴─────────────────────────────────────────────────────╯