This mode is the most familiar and it's similar to how most editors work.

You can switch to character selection mode by clicking {{ _.W }} (shift + {{ _.w }}).

╭────────────────┬────────────────────────────────────────────────╮
│   Movements    │                       Action                   │
├────────────────┼────────────────────────────────────────────────┤
│ {{ _.u }} (<), {{ _.o }} (>)   │ Previous or next character                     │
├────────────────┼────────────────────────────────────────────────┤
│ {{ _.j }} (<<), {{ _.l }} (>>) │ Previous or next character                     │
├────────────────┼────────────────────────────────────────────────┤
│ {{ _.i }} (^), {{ _.k }} (v)   │ Nearest character in the previous or next line │
├────────────────┼────────────────────────────────────────────────┤
│ {{ _.y }} (|<), {{ _.p }} (>|) | First or last character in the current subword │
╰────────────────┴────────────────────────────────────────────────╯