name: latest
on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/release-common.yml

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - name: Publish release
        run: |
          gh release delete latest --cleanup-tag --yes | true # Don't fail if the release doesn't exist
          gh release create latest --prerelease --title 'Latest master build' \
            ki-linux-x64/ki-linux-x64 \
            ki-linux-arm64/ki-linux-arm64 \
            ki-windows-x64/ki-windows-x64.exe \
            ki-windows-arm64/ki-windows-arm64.exe \
            ki-macos-x64/ki-macos-x64 \
            ki-macos-arm64/ki-macos-arm64
