name: nightly
on:
  schedule:
    - cron: '31 1 * * *' # 01:31 UTC, an intentionally odd time to distribute load
  workflow_dispatch:
    # So we can run it manually

jobs:
  build:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm # No -latest tag available
          - windows-latest
          - macos-latest

        include:
          - runner: ubuntu-latest
            code: linux-x64
            extension:
            mv: mv
          - runner: ubuntu-24.04-arm
            code: linux-arm64
            extension:
            mv: mv
          - runner: windows-latest
            code: windows-x64
            extension: .exe
            mv: move
          - runner: macos-latest
            code: macos-arm64
            extension:
            mv: mv

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Build
        run: cargo build --release --locked
        
      - name: Rename
        run: ${{ matrix.mv }} target/release/ki${{ matrix.extension }} ki-${{ matrix.code }}${{ matrix.extension }}

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: ki-${{ matrix.code }}
          path: ki-${{ matrix.code }}${{ matrix.extension }}
          retention-days: 1

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - name: Publish release
        run: gh release create nightly --prerelease --title 'Nightly Release' ki-linux-arm64/ki-linux-arm64 ki-linux-x64/ki-linux-x64 ki-windows-x64/ki-windows-x64.exe ki-macos-arm64/ki-macos-arm64
