name: nightly
on:
  schedule:
    - cron: '31 1 * * *' # 01:31 UTC, an intentionally odd time to distribute load
  workflow_dispatch:
    # So we can run it manually

jobs:
  build:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm # No -latest tag available
          - windows-latest
          - macos-latest

        include:
          - runner: ubuntu-latest
            code: linux-x64
            executable: ki
          - runner: ubuntu-24.04-arm
            code: linux-arm64
            executable: ki
          - runner: windows-latest
            code: windows-x64
            executable: ki.exe
          - runner: macos-latest
            code: macos-arm64
            executable: ki

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Build
        run: cargo build --release --locked

      - uses: actions/upload-artifact@v6
        with:
          name: ki-${{ matrix.code }}
          path: target/release/${{ matrix.executable }}
          retention-days: 1

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - name: Publish release
        run: gh release create nightly --prerelease --title 'Nightly Release' ki-linux-arm64 ki-linux-x64 ki-windows-x64 ki-macos-arm64
