name: release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    uses: ./.github/workflows/release-common.yml
  
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - name: Publish release
        run: gh release create ${{ github.ref_name }} --title ${{ github.ref_name }} ki-linux-arm64/ki-linux-arm64 ki-linux-x64/ki-linux-x64 ki-windows-x64/ki-windows-x64.exe ki-macos-arm64/ki-macos-arm64
