name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: macos-latest
    strategy:
      matrix:
        task: [check, build-all, test, install]
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
      - run: nix develop --command just ${{ matrix.task }}

  doc:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
      - run: nix develop --command just doc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/