name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: all-rust-check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@v1
      with:
        toolchain: 1.78.0
        components: rustfmt, clippy
    - uses: extractions/setup-just@v1
    - name: Just
      run: just
